# Configuration du Serveur
PORT=3000

# Base de données MongoDB Atlas
# Remplacez <password> par votre mot de passe et <cluster> par votre cluster
MONGODB_URI=mongodb+srv://ludel:<password>@cluster0.abcde.mongodb.net/portfolio?retryWrites=true&w=majority
